data/
references/
__pycache__/
*.py[cod]
.pytest_cache/
.mypy_cache/
.ruff_cache/
.ipynb_checkpoints/
.env
.venv
.conda/
.DS_STORE
.vscode/
build/
dist/
*.egg-info/
results/
outputs/
*.log
*.out
*.err
